@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap');

:root{
    --background: #FFE3DC ;
    --primary: #694b45;
    --other: #5c4b4727;
    --secondary: #e5a0baa1;
    --tertiary: #F5F4F2;
    --white: #FFFFFF;
    --title: #102032;
    --text: #97A3B0;
    --container: 1216px;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: var(--container);
    margin: 0 auto;
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
}

header ul li:not(:first-child) {
    margin-left: 24px;
}

nav ul a {
    text-decoration: none;
    display: flex;
}

ul#links {
    font-weight: 700;
    font-size: 14px;
    color: var(--title);
    text-transform: uppercase;
    transition: 0.2s;
}

ul#links a:hover {
filter: opacity(0.8);
}

ul#redes img {
    display: block;
}

section#inicio {
    max-width: var(--container);
    margin: 0 auto;

    height: calc(100vh - (40px +29px)); /* altura do header menos a altura da tela */

    display: flex;
    align-items: center;

    position: relative;
}

section#inicio h1 {
    font-size: 88px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 90px;
}

section#inicio h1 span {
color: var(--primary);
display: block;
}

section#inicio img {
    display: block;
    object-fit: contain;
    width: 493px;

    -webkit-mask-image: linear-gradient(to left, var(--background),transparent); 

    position: absolute;
    right: 0;
    z-index: -1;
}

section#formacao {
background-color: var(--white);

}

section#formacao div#conteudo-formacao {
    max-width: var(--container);
    margin: 0;
    padding: 80px 0;

}

div#conteudo-formacao h2 {
    font-size: 48px;
    font-weight: 700;
    margin-left: 95px;
}

div#conteudo-formacao li.formacao-item {
    display: flex;
    font-family: 'Roboto', sans-serif;

}

div#conteudo-formacao ul#lista-formacao {
    flex-direction: column;
    margin-top: 37px;
  }

  li.formacao-item:not(:first-child) {
      margin-top: 45px;
}

li.formacao-item div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-left: 30px;
   
}

li.formacao-item h3{
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;

}

li.formacao-item p.onde {
    font-size: 16px;
    color: var(--title);
    margin-left: 20px;
}

li.formacao-item p.quando {
    font-size: 16px;
    color: var(--title);
    margin-left: 20px;
}

li.formacao-item img {
    margin-left: 20px;
    width: 80px;
}

section#habilidades {
    background-color: var(--background);

}

section#habilidades div#conteudo-habilidades {
    max-width: var(--container);
    margin: 0 auto;
    padding: 154px 0;

    display: flex;
    align-items: center;
}

div#conteudo-habilidades h2 {
    color: var(--primary);
    font-weight: 700;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
}
div#conteudo-habilidades h2 span {
    font-size: 24px;
    display: block;
    color: var(--primary);
   
}

div#conteudo-habilidades ul#tecnologia {
    width: 100%;
    margin-left: 24px;
    display: flex;
}

ul#tecnologia li.tecnologia {
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 159px;
    height: 159px;
    border-radius: 8px;
    box-shadow: 0px 36px 28px -24px rgba(0, 0, 0, 0.2);
    
}

li.tecnologia:not(:last-child) {
    margin-right: 24px;
}

li.tecnologia p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    color: var(--primary);
    margin-top: 8px ;
}

section#experiencia {
    background-color: var(--white);
   
 }
    
section#experiencia div#conteudo-experiencia {
    max-width: var(--container);
    margin: 0;
    padding: 80px 0;
    
    }
    
div#conteudo-experiencia h2 {
    font-size: 48px;
    font-weight: 700;
    margin-left: 95px;
 }
    
    div#conteudo-experiencia li.experiencia-item {
        display: flex;
        font-family: 'Roboto', sans-serif;
    
    }
    
    div#conteudo-experiencia ul#lista-experiencia {
        flex-direction: column;
        margin-top: 37px;
      }
    
      li.experiencia-item:not(:first-child) {
          margin-top: 45px;
    }
    
    li.experiencia-item div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        margin-left: 30px;
       
    }
    
    li.experiencia-item h3{
        font-size: 24px;
        font-weight: 700;
        margin-left: 20px;
    
    }
    
    li.experiencia-item p.onde {
        font-size: 16px;
        color: var(--title);
        margin-left: 20px;
    }

    li.experiencia-item img {
        margin-left: 20px;
        width: 80px;
        
    }

    footer {
        height: 100vh;
        background-color: var(--white);
        
    }

footer div#conteudo-footer {
    max-width: var(--container);
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

div#conteudo-footer div#titulo-footer {
    color: var(--primary);

    display: flex;
    flex-direction: column;
    align-items: center;
}

div#conteudo-footer div#titulo-footer{
    font-size: 24px;
    font-weight: 700;

}

div#conteudo-footer form {
    margin-top: 40px;
    max-width: 592px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

div#conteudo-footer form input {
    font-family: 'Roboto', sans-serif;

    height: 67px;
    border-radius: 4px;
    border: 0;
}

div#conteudo-footer form textearea {
    font-family: 'Roboto', sans-serif;

    border-radius: 4px;
    border: 0;
    resize: none;
}

div#conteudo-footer form input::placeholder, textearea::placeholder {
    color: var(--primary);
    
}

div#conteudo-footer form input:not([type="submit"]) {
    padding: 0 24px;

}

div#conteudo-footer form input + input {
    margin-top: 16px;
}

div#conteudo-footer form textarea{
    margin-top: 16px;
    padding: 24px;

}

div#conteudo-footer form input[type="submit"] {
    margin-top: 24px;
    background-color: var(--primary);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;

    transition: 0.2;

}
div#conteudo-footer form input[type="submit"]:houver{
    filter: brightness(0.8);
}



   